@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
i{
    color: aliceblue;
}
html, body {
height: 100%;
overflow-x: hidden;
margin: 0;
}
footer{background-color:#C9F; height:90px; clear:both;}
/*  */
.video-header {
position: absolute;
text-align: center;
width: 100vw;
height: 100vh;
}
.video-header, .video-header video, .video-header .description {
width: 100vw;
height: 100vh;
position: absolute;
top: 0;
left: 0;
}
/* Videoyu arka plana tam ekran olacak şekilde ayarladık */
.video-header video {
background: rgb(88, 87, 87);
object-fit: cover;
}
.video-header .description {
display: flex;
align-items: center;
justify-content: center;
}
.video-header h1 {
font-family: "Akaya Kanadaka", sans-serif;
color: white;
text-transform: uppercase;
letter-spacing: 1vw;
line-height: 1.2;
font-size: 3vw;
text-align: center;
}
.video-header h1 span {
display: block;
font-size: 10vw;
letter-spacing: 0;
}
/*  */
main {
background: white;
position: relative;
padding: 1rem;
margin-top: 100vh;
}
main::before {
content: "";
width: 100vw;
height: 100vh;
position: absolute;
top: 0;
left: 0;
top: -100vh;
}
/* 
 İçeriğin üst kısmına tam ekran olacak şekilde bir boşluk ayarladık.
 Bu sayede içerik aşağı kaydırınca görünecek.
*/
main p {
max-width: 750px;
font-family: "Akaya Kanadaka", sans-serif;
font-size:20px;
margin: 1rem auto;
}